<%# brew/show %>

<h1><%= @brew.blend_name %></h1>

<ul>
	<li><strong>Origin:</strong> <%= @brew.origin %></li>
	<li><strong>Notes:</strong> <%= @brew.notes %></li>
	<li><strong>Strength (1-5):</strong> <%= @brew.strength %></li>
</ul>